<div>

  <div class="container">
  <h1>Angular: Exemple de routage et navigation </h1>

  <button RouterLink="home" class="btn btn-primary">Infos Home</button>

  <button RouterLink="forms" class="btn btn-primary">Infos formulaire</button>

  </div>

  <div class="container spacer">

  </div>

  </div>

<div>



  </div><br><br>
<div class="container">

  <h1>Angular: Exemple de routage et navigation </h1>

  <div class="container">
<tr>
<td>
  <button (click)="onService()"  >Info service</button>
</td><td>
  <button (click)="onPipe()" >Info pipe</button>
</td></tr>
  </div>

  <div>


  </div>

  </div>
